<style>
    @import url(css/contract-editStyle.css);
    @import url(css/contractManagementStyle.css);
</style>
<div class="contracts-head"><span>{{projectNameE}}/合同管理/合同编辑</span></div>
<div class="contracts-edit">
    <div class="contracts-edit-contain">
        <div class="contracts-edit-head"><span><i class="iconfont">&#xe659;</i>编辑合同</span></div>
        <div class="edit-contactInfo">
            <div class="edit-aboutContract">
                <div>
                    <span class="zhanwei">站站</span><span>合同名称：</span>
                    <input class="contract-nameE" ng-model="EContract.name"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>合同编号：</span>
                    <input class="contract-codeE" ng-model="EContract.code"/>
                </div>
                <div>
                    <span class="zhanwei">站</span><span>关联任务卡：</span>
                    <select ng-model="EContract.task"  ng-options="option.Ename for option in EtaskCardOptions" ng-change="changeOptions()"></select>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>合同类型：</span>
                    <input disabled="disabled" ng-model="EContract.type"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>开始时间：</span>
                    <input disabled="disabled" ng-model="EContract.start"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>结束时间：</span>
                    <input disabled="disabled" ng-model="EContract.end"/>
                </div>
            </div>
            <div class="edit-aboutMoney">
                <div>
                    <span class="zhanwei">站站站</span><span>总金额：</span>
                    <input class="contract-moneyE" ng-model="EContract.money" ng-change="getThreeStepsMoney()"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>支付方式：</span>
                    <select>
                        <option>2-3-5</option>
                    </select>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>一期金额：</span>
                    <input ng-model="EContract.money1" disabled="disabled"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>二期金额：</span>
                    <input ng-model="EContract.money2" disabled="disabled"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>三期金额：</span>
                    <input ng-model="EContract.money3" disabled="disabled"/>
                </div>
            </div>
            <div class="edit-aboutPartAB">
                <div class="one-lineTaken">
                    <span class="zhanwei">站站站站</span><span>甲方：</span>
                    <input placeholder="请在列表界面添加甲方信息"  disabled="disabled" ng-model="partAInfo.name"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>联系电话：</span>
                    <input disabled="disabled" ng-model="partAInfo.phone"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>电子邮件：</span>
                    <input disabled="disabled" ng-model="partAInfo.email"/>
                </div>
                <div class="one-lineTaken">
                    <span class="zhanwei">站站</span><span>通讯地址：</span>
                    <input disabled="disabled" ng-model="partAInfo.location"/>
                </div>
                <div class="one-lineTaken">
                    <span>点击选择乙方：</span>
                    <button ng-click="showPartBE()">选择乙方</button>
                </div>
                <div >
                    <span class="zhanwei">站站站站</span><span>乙方：</span>
                    <input disabled="disabled" ng-model="EContract.bName"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>联系电话：</span>
                    <input disabled="disabled" ng-model="EContract.bPhone"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>电子邮件：</span>
                    <input disabled="disabled" ng-model="EContract.bEmail"/>
                </div>
                <div class="one-lineTaken" ng-show="EContract.bLocation">
                    <span class="zhanwei">站站</span><span>通讯地址：</span>
                    <input disabled="disabled" ng-model="EContract.bLocation"/>
                </div>
                <div class="one-lineTaken" ng-show="EContract.bCardId">
                    <span class="zhanwei">站站</span><span>身份证号：</span>
                    <input disabled="disabled" ng-model="EContract.bCardId"/>
                </div>
                <div>
                    <span>收款账户名称：</span>
                    <input disabled="disabled" ng-model="EContract.bCountName"/>
                </div>
                <div>
                    <span class="zhanwei">站站</span><span>收款账号：</span>
                    <input disabled="disabled" ng-model="EContract.bCountNum"/>
                </div>
            </div>
            <div class="edit-aboutFinish">
                <div>
                    <button class="edit-cancelBtn" ng-click="cancelUpdateE()">取消</button>
                    <button class="edit-saveBtn" ng-click="updateContractChangesE()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="checkPartB-contain" style="display: none;">
        <div class="checkPartB-div">
            <div class="checkPartB-check">
                <div class="partB-head">
                    <span>选择乙方</span>
                    <i ng-click="cancelCheckPartBE()" class="iconfont">&#xe628;</i>
                </div>
                <div class="search-area">
                    <input ng-model="searchInput" ng-change="searchInputFuncE()">
                    <span ng-show="searchSpanE" ng-click="transportClickE($event)"><i class="iconfont">&#xe695;</i>搜索</span>
                </div>
                <div class="partB-company">
                    <div>
                        <i class="iconfont" ng-click="showPartBListE('company')">&#xe67a;</i>
                        <span>外部公司</span>
                    </div>
                    <ul class="partB-company-lists" ng-show="company_showE">
                        <li class="partB-list" ng-repeat="company in companysE">
                            <i class="iconfont" ng-click="checkThisAsPartBE($event,company)">&#xe63f;</i>
                            <img ng-src="{{company.src}}" />
                            <span>{{company.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="partB-person">
                    <div>
                        <i class="iconfont" ng-click="showPartBListE('person')">&#xe67a;</i>
                        <span>外部个人</span>
                    </div>
                    <ul class="partB-person-lists" ng-show="person_showE">
                        <li class="partB-list" ng-repeat="person in personsE">
                            <i class="iconfont" ng-click="checkThisAsPartBE($event,person)">&#xe63f;</i>
                            <img ng-src="{{person.src}}" />
                            <span>{{person.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="partB-foot">
                    <button class="partB-save" ng-click="saveCheckPartBE()">确定</button>
                    <button class="partB-cancel" ng-click="cancelCheckPartBE()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>