
<style>
    @import url(css/taskCard.statusbar.css);    /*任务卡样式*/
    @import url(css/taskCard.css);
    @import url(css/addTask.css);
    @import url(css/taskCard.schema.css);
    @import url(css/myProjectsStyle.css);
    @import url(css/operationLogStyle.css);
    .task-progress-table tbody td,
    .task-progress-table thead th{
        width: 10%;
        max-width: 10%;
        min-width:10%;
    }


</style>

<div id="taskCard-edit-wrap" style="display:none;">
    <div  id="taskStatus" class="taskCard-view-title"  data-value="check">
        <p class="title-view-task"><span class="iconfont">&#xe665;</span>查看任务 <i class="iconfont task-back-btn">&#xe636;</i></p>
        <p class="title-edit-task"><span class="iconfont">&#xe662;</span>编辑任务</p>
        <p class="title-new-task-version"><span class="iconfont">&#xe662;</span>新建任务版本</p>
        <p class="title-new-task"><span class="iconfont">&#xe662;</span>新建任务</p>
    </div>
    <div class="task-area">
        <div class="task-area-version task-area-version-view" style="position: relative;">
            <div class="task-area-version-add" title="新建任务版本">+</div>
            <span id="taskVersionTitle">版本</span>
            <input id="taskVersionSelected" style="padding-left:12px;" type="text"  class="task-version-input task-version-input-edit">
            <input id="taskVersionCheck" style="height:30px; font-size:12px; padding-left:12px;" data-toggle="dropdown" type="text" class="form-control task-version-input task-version-input-view"  readonly>
            <ul  id="taskVersion" class="dropdown-menu newTaskSelect" style="margin-left: 59px; margin-top:0px;">
                <li data-value="2">xxx</li>
                <li data-value="1">yyy</li>
            </ul>
        </div>
        <!-- 任务状态条 -->
        <div class="task-status-wrap">
            <div class="task-status progress-status-1">
                <div class="task-status-big-bar"></div>

                <div class="task-status-cell-outer"> <div class="task-status-cell-inner">制卡</div></div>
                <div class="task-status-cell-outer"> <div class="task-status-cell-inner">发送</div> </div>
                <div class="task-status-cell-outer"> <div class="task-status-cell-inner">制作</div> </div>
                <div class="task-status-cell-outer"> <div class="task-status-cell-inner">审核</div> </div>
                <div class="task-status-cell-outer">  <div class="task-status-cell-inner">完成</div> </div>

                <div class="task-status-tiny-bar"> <div class="task-status-tiny-bar-inner"></div> </div>
            </div>
        </div>
        <!-- 任务项目选项卡 -->
        <ul class="task-item-tab">
            <li class="task-item-tab-active">基本信息</li>
            <li>方案</li>
            <li>进程</li>
            <li>操作记录</li>
        </ul>
        <!-- 任务项 -->
        <ul class="task-item-content">
            <!-- 基本信息 -->
            <li>
                <div class="taskBasicInfoBox">
                    <div class="checkTask" style="width:100%;"></div>
                    <div class="addTask" style="display:none;">
                        <form class="form-inline">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="newTaskName" class="col-sm-2 task-name"><span style="color:red;">*</span>名称：</label>
                                    <div class="col-sm-6" style="padding:0">
                                        <input id="newTaskName"  type="text"  class="form-control task-input-one">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group" style=" position: relative;">
                                    <label for="newTaskChecker" class="col-sm-2 task-name"><span style="color:red;">*</span>审核人：</label>
                                    <div class="col-sm-6" style="padding:0">
                                        <input id="newTaskChecker" data-content="members" data-toggle="modal" data-target="#my-project-add-chooseBody" data-backdrop="static" data-value="[]" type="text"  class="form-control task-input-one"  readonly >
                                    </div>
                                    <span id="task-checker-choose"   style="cursor:default;position: absolute; top:7px; left:614px; color:#5699c3; font-size:12px;">选择</span>
                                </div>
                            </div>

                            <div class="form-group" style="position: relative">
                                <label for="newTaskStartTime" class="task-name-two"><span style="color:red;">*</span>开始时间：</label>
                                <input id="newTaskStartTime" type="text" class="form-control task-input-two form_datetime" readonly>
                                <span><i class="glyphicon glyphicon-calendar"style="right:27px; top:-4px; color:#666;"></i></span>
                            </div>
                            <div class="form-group" style="position: relative">
                                <label for="newTaskEndTime" class="task-name-two"><span style="color:red;">*</span>预计时间：</label>
                                <input id="newTaskEndTime" type="text" class="form-control task-input-two form_datetime" readonly>
                                <span><i class="glyphicon glyphicon-calendar"style="right:27px; top:-4px; color:#666;" ></i></span>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="newTaskNeedDay" class="col-sm-2 task-name"><span style="color:red;">*</span>工作日：</label>
                                    <div class="col-sm-6" style="padding:0">
                                        <input id="newTaskNeedDay" class="form-control task-input-four">
                                    </div>
                                    <label style="font-weight:normal; line-height:30px;">天</label>
                                </div>
                            </div>

                            <div class="form-group has-feedback" >
                                <label for="newTaskType" class="task-name-two"><span style="color:red;">*</span>类别：</label>
                                <input id="newTaskType" data-value="2" value="资产" type="text" class="form-control task-input-three" data-toggle="dropdown" readonly>
                                <span class="glyphicon glyphicon-triangle-bottom form-control-feedback" style="right:15px; top:-1px;"></span>
                                <ul  id="newTaskTypeSelect" class="dropdown-menu newTaskSelect" style="margin-left: 96px;">
                                    <li data-value="2">资产</li>
                                    <li data-value="1">镜头</li>
                                </ul>
                            </div>
                            <div class="form-group has-feedback">
                                <input id="newTaskResource" type="text" class="form-control task-input-three" data-toggle="dropdown" readonly>
                                <span class="glyphicon glyphicon-triangle-bottom form-control-feedback" style="right:15px; top:-1px;"></span>
                                <ul  id="newTaskResourceSelect" class="dropdown-menu newTaskSelect" >
                                    <!--<li data-value="xxx">孙悟空（角色）</li>-->
                                </ul>
                            </div>
                            <div class="form-group has-feedback">
                                <input id="newTaskStep" type="text" class="form-control task-input-three" data-toggle="dropdown" readonly>
                                <span class="glyphicon glyphicon-triangle-bottom form-control-feedback" style="right:15px; top:-1px;"></span>
                                <ul  id="newTaskStepSelect" class="dropdown-menu newTaskSelect">
                                    <!--<li data-value="xxx">基础效果设计</li>-->
                                </ul>
                            </div>

                            <span class="newTaskBtn" id="newTaskSave">保存</span>
                            <span class="newTaskBtn" id="newTaskCancel">取消</span>
                        </form>
                    </div>
                    <div class="taskSenderEditAndCheck">
                        <div style="margin:0 30px 20px 30px; border-top:1px solid #f1f1f1;"></div>
                        <div class="taskSenderEdit" style="display:none; position: relative; padding-bottom:60px;">
                            <form class="form-inline" style="display:flex; margin-bottom:26px;">
                                <div class="form-group" style="position: relative; flex:1;">
                                    <label for="taskSenderEditType" class="taskSenderEditText">&#12288;&#12288;<span style="color:red;">*</span>类型：</label>
                                    <input id="taskSenderEditType"  data-value="0" value="内部任务" type="text" class="form-control taskSenderEditInput" data-toggle="dropdown" readonly>
                                    <span class="glyphicon glyphicon-triangle-bottom form-control-feedback" style="left:230px;top:-1px;"></span>
                                    <ul  id="taskSenderEditTypeSelect" class="dropdown-menu taskSenderEditSelect">
                                        <li data-value="0">内部任务</li>
                                        <li data-value="1">外部任务</li>
                                    </ul>
                                </div>
                                <div class="form-group" style="position: relative; flex:1; margin-left:-12px;">
                                    <label for="taskSenderEditProductor" style=" font-weight:normal;">&#12288;<span style="color:red;">*</span>制作人：</label>
                                    <input data-value="" id="taskSenderEditProductor" type="text" class="form-control taskSenderEditInput" data-toggle="dropdown" readonly>
                                    <span class="glyphicon glyphicon-triangle-bottom form-control-feedback" style="left:216px; top:-1px;"></span>
                                    <ul  id="taskSenderEditProductorSelect" class="dropdown-menu taskSenderEditSelect" style="margin-left:80px;">
                                        <!--<li data-value="0">张三</li>
                                        <li data-value="1">李四</li>-->
                                    </ul>
                                </div>
                            </form>
                            <div class="form-group" style="position: relative; margin-bottom:26px;">
                                <span class="taskSenderEditText" style="padding-top:0; margin-top:-5px;"><span style="color:red;">*</span>等级：</span>
                                <!--<label style="">&#12288;&#12288;</label>-->
                                <div style="">
                                    <ul class="taskLevelBox" id="taskLevelEditSelect">
                                        <li>C-</li>
                                        <li>C</li>
                                        <li>C+</li>
                                        <li>B-</li>
                                        <li class="active">B</li>
                                        <li>B+</li>
                                        <li>A-</li>
                                        <li>A</li>
                                        <li>A+</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="form-group" style="position: relative;">
                                <label for="taskSenderEditScore" class="taskSenderEditText" style="">&#12288;&#12288;<span style="color:red;">*</span>积分：</label>
                                <input id="taskSenderEditScore" type="text" class="form-control taskSenderEditInput">
                            </div>
                            <div class="taskSendBtnEdit clearFix">
                                <span class="taskSendBtn" id="taskSenderCancel">取消</span>
                                <span class="taskSendBtn" id="taskSenderSave">保存</span>
                            </div>

                        </div>
                        <div class="taskSenderCheck" style="display:block; padding-bottom:60px; position: relative; ">
                            <div style="display:flex;  margin-bottom:26px;" class="task-check-box">
                                <div style=" flex:1;">
                                    <span class="taskSenderCheckText">&#12288;&#12288;&#12288;&#12288;类型：</span>
                                    <span id="taskSenderCheckType" data-value=""></span>
                                </div>
                                <div style="flex:1;">
                                    <span class="taskSenderCheckText">&#12288;制作人：</span>
                                    <span id="taskSenderCheckProductor" data-value=""></span>
                                </div>
                            </div>
                            <div class="form-group" style="position: relative; margin-bottom:26px;">
                                <span class="taskSenderEditText" style="padding-top:0; margin-top:-5px;">等级：</span>
                                <!--<label style="">&#12288;&#12288;</label>-->
                                <div>
                                    <ul class="taskLevelBox" id="taskLevelCheckSelect" style="border:1px solid #d9d9d9;">
                                        <li style="background-color: #a4228e;"></li>
                                        <li style="background-color: #0173ba;"></li>
                                        <li style="background-color: #01aaad;"></li>
                                        <li style="background-color: #a6ce39;"></li>
                                        <li style="background-color: #ffb619;"></li>
                                        <li style="background-color: #f5951c;"></li>
                                        <li style="background-color: #f46f22;"></li>
                                        <li style="background-color: #e0661f;"></li>
                                        <li style="background-color: #ef1822;"></li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <span class="taskSenderCheckText">&#12288;&#12288;&#12288;&#12288;积分：</span>
                                <span id="taskSenderCheckScore"></span>
                            </div>
                            <div class="clearFix taskSenderBtnBoxWrap">
                                <div id="taskSenderBtnBox" class="clearFix" style="display:none; float:right;">
                                    <span class="taskSendBtn" id="taskSendBack">退回</span>
                                    <span class="taskSendBtn" id="taskSenderEdit">编辑</span>
                                    <span class="taskSendBtn" id="taskSend">派发</span>
                                    <span class="taskSendBtn" id="taskAddToContract">添加到合同</span>
                                </div>
                                <span class="taskSendBtn" style="display:none;" id="taskSendBackToNotSend">撤回</span>
                            </div>


                        </div>
                        <div id="taskSendBackBox" class="taskSendBackBox" style="display:none;">
                            <div class="taskSendBackWrap">
                                <p style="margin-left:20px; margin-top:14px;"><span style="color:red;">*</span>请填写退回原因</p>
                                <textarea class="taskSendBackReason">

                                </textarea>
                                <span class="taskSendBackBtn" id="taskSendBackSave">确定</span>
                                <span class="taskSendBackBtn" id="taskSendBackCancel">取消</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal " id="my-project-add-chooseBody" tabindex="-1" role="dialog" style="font-size: 14px; display:none;" >
                        <div class="modal-dialog" role="document"  >
                            <div class="modal-content" style="margin-left: 50px;height: 100%; width:60%;">
                                <div class="modal-header"  style="margin-bottom:40px; height:35px; line-height:35px; background-color:#eee;">
                                    <button type="button" class="close " id='closeProCreate' style="margin-top:-13px; opacity: 1;" data-dismiss="modal" aria-label="Close">
                                        &nbsp;<span class="iconfont" style=" font-size: 0.5em;color: grey">&#xe628;</span></button>
                                    <button type="button" class="close dismiss"  style="opacity: 1; display: none"data-dismiss="modal" aria-label="Close"><span class="iconfont"  style=" color: grey;font-size: 0.5em">&#xe629;</span>
                                        &nbsp;</button>
                                    <h4 class="modal-title" id="my-project-add-chooseClose" style="margin-top:-5px;font-size:12px; font-weight:normal;"><b>选择</b></h4>
                                </div>
                                <div class="modal-body" id="my-project-add-chooseContent" style="padding:0;position: relative;">
                                    <h5 class="my-project-add-choose-title">项目下可选</h5>
                                    <div style="border-top:1px solid #e3e2e2; border-bottom:1px solid #e3e2e2; margin:0 30px;">
                                        <div class="clearfix">

                                            <div class="my-project-add-chooseBox" style="width:300px; height:283px;">
                                                <ul id="my-project-add-chooseList">
                                                    <!--√-->
                                                    <!--<li data-value="张三的id" class="my-project-add-choose-people"><i style="color:#999;" data-value="张三的id"  class="iconfont">&#xe64b;</i><span>张三</span></li>
                                                    <li data-value="李四的id" class="my-project-add-choose-people"><i class="iconfont">&#xe64c;</i><span>李四</span></li>
                                               --> </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width:100%; padding-bottom:12px;">
                                        <div style="height:34px; line-height:34px; color:#11cd6e; padding-left:50px;"><i style="font-size:18px; " class="iconfont">&#xe620;</i>已选用户</div>
                                        <ul id="my-project-add-haveChoose" style="height:30px;" class="my-project-add-haveChoose clearfix">
                                            <!--<li data-value="xxxxxxx"><span>张三</span><i class="iconfont">&#xe63d;</i></li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer" style="margin:0 30px; padding-top: 6px;padding-bottom: 6px">
                                    <button type="button" class="btn btn-default dismiss" data-dismiss="modal" aria-label="Close" id="my-project-add-chooseSave" >保存</button>
                                    <button type="button" class="btn btn-primary dismiss" data-dismiss="modal" aria-label="Close" id="my-project-add-chooseCancelSave"  >取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </li>

            <!-- 方案 -->
            <li>
                <div id="schema-wrap-outer">
                    <div id="schema-area">
                        <div id="schema-title-area">
                            <div class="header">M1001设计文档</div>
                            <ul id="schema-title-list">
                            </ul>
                        </div>
                        <div id="schema-operation-area">
                            <div id="editor-operation" class="header">
                                <a data-role="firstHeader" title="一级标题"></a>
                                <a data-role="secondHeader" title="二级标题"></a>
                                <a data-role="thirdHeader" title="三级标题"></a>
                                <a data-role="textBody" title="正文"></a>
                                <a data-role="textColor" title="标红"></a>
                                <a title="插入图片">
                                    <input type="file"  title="插入图片" id="insertImage" accept="image/*" >
                                </a>
                                <a title="插入视频">
                                    <input  title="插入视频" type="file" id="insertVideo" accept="video/*">
                                </a>
                                <a title="插入附件">
                                    <input type="file" title="插入附件" id="insertAttachment" accept=".zip,.rar">
                                </a>
                            </div>
                            <div id="editor-area">
                                <!--编辑器-->
                                <script id="hkEditor" name="content" type="text/plain"></script>
                            </div>
                        </div>
                    </div>
                    <div id="schema-btn-wrap">
                        <!--<span id="schema-cancel-btn">取消</span>-->
                        <span id="schema-save-btn" class="schema-save-btn-disable">保存</span>
                    </div>
                    <div id="schema-files-viewer-loadBox">

                    </div>
                    <!--上传进度条-->
                    <div class="fileProgressInfo" style="display:none;">
                        <div class="fileProgressInfo_top">
                            完成进度:  <span>100%</span>
                            <div>
                                <span class="pause"></span>
                                <span class="close iconfont">&#xe628;</span>
                            </div>
                        </div>
                        <div class="progressBar"><!--显示进度的框子-->
                            <div class="progressbar_forward">

                            </div>
                        </div>
                        <span>名称:  </span><span class="upload-fileName">黑猫警长</span>
                    </div>
                </div>
            </li>

            <!-- 进程 -->
            <li id="task-progress">
                <div id="task-progress-list-wrap"  style="display: block;">
                    <div>
                        <div class="task-progress-wrap">
                            <table class="task-progress-table" style="display:none;">
                                <thead>
                                    <tr>
                                        <th rowspan="2">名称</th>
                                        <th rowspan="2">制作步骤</th>
                                        <th rowspan="2">比重</th>
                                        <th rowspan="2">开始时间</th>
                                        <th rowspan="2">预计时间</th>
                                        <th rowspan="2">完成时间</th>
                                        <th rowspan="2">制作人</th>
                                        <th colspan="3" class="task-back-checkers">审核人</th>  <!--这个是不定的-->
                                        <th rowspan="2" id="progressListsOperation">操作</th>
                                    </tr>
                                    <tr id="task-progress-checkers">
                                        <!--这个也是不定的-->
                                        <th>1审核人</th>
                                        <th>2审核人</th>
                                        <th>3审核人</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div style="position:relative; width:100%; height:0;">
                                <span class="newTaskBtn" id="taskProgressSubmitBtn" style="display: none; right:20px; bottom:15px;">提交</span>
                            </div>
                            <div class="task-progress-add-btn" style="display:none;">+ 添加进程</div>
                            <div class="task-progress-noProgress">当前没有进程</div>
                        </div>
                    </div>

                </div>


                <!--writer kevin(hk60)-->
                <div id="progress-review-page" style="display: none;"></div>

            </li>

            <!-- 操作记录 -->
            <li>
                <div id="operationTask_log"  class="operationLogApp" ng-controller="OperationTaskLog" style="width: 100%; position: absolute; padding-top:3px;">
                <div  class="operation-table" >
                    <table>
                        <thead>
                        <tr>
                            <th>操作人</th>
                            <th>操作时间</th>
                            <th>操作内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="log in opeartionTasklogs">
                            <td>{{log.person}}</td>
                            <td>{{log.time}}</td>
                            <td><p ng-repeat="detail in log.detail">{{detail}}</p></td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="operation-Task-foot">
                        <span>共<label class="total-page">{{operationTaskLogs}}</label>条</span>
                        <div class="operation-Task-btn">
                            <button class="last-page" ng-click="changePages('last')">尾页</button>
                            <button class="next-page" ng-click="changePages('next')"><i class="iconfont">&#xe681;</i></button>
                            <div class="cur-pageTask-div" ng-click="showPagesChoose()">
                                <ul class="curTask-page-choose" ng-show="operationUl">
                                    <li ng-repeat="page in operationTaskPageList" ng-click="changePages(page.offset)">{{page.page}}</li>
                                </ul>
                                <button class="curTask-page">{{operationTaskCurPage}}/{{operationTaskPages}}</button>
                            </div>
                            <button class="prevTask-page " ng-click="changePages('prev')"><i class="iconfont">&#xe682;</i></button>
                            <button class="firstTask-page" ng-click="changePages('first')">首页</button>
                    </div>
                  </div>
                </div>
                    <!--<a href="http://localhost:9527/index.html" download="index.html">下载</a>-->

                </div>
            </li>
        </ul>
        <script>
            $(function() {
                // 默认加载
                var initProgressList=false;
                var index = $('.task-item-tab-active', '.task-item-tab').index();
                $('.task-item-content>li').removeClass('active').eq(index).addClass('active');

                // 点击切换
                $('li','.task-item-tab').click(function() {
                    $('li','.task-item-tab').removeClass('task-item-tab-active');
                    $(this).addClass('task-item-tab-active');
                   $('.task-item-content>li').removeClass('active').eq($(this).index()).addClass('active');
                    //$('.task-item-content>li').removeClass('active').eq($(this).index()).show().siblings('li').hide();
                    if($(this).html()=='进程'){
                        if(!initProgressList){
                            taskProgressList.init();  //初始化进程列表
                            initProgressList=true;
                        }else{
                            //console.log('task-versionStatus : ',$('#taskVersionCheck').attr('data-status'));
                            taskProgressList.refreshThisVersionProgress($('#taskVersionCheck').attr('data-value'),$('#taskVersionCheck').attr('data-status'));
                        }
                        $('#task-progress-list-wrap').show(); //进程列表
                        $('#progress-review-page').hide(); //进程详情
                        /*//任务卡状态
                        var status=$('#taskVersionCheck').attr('data-status');
                        console.log('list-status',status);
                        if(status!=-1&&status!=0){ //不是已退回和未制卡状态
                            console.log('---------hide---3-------');
                            $('.task-progress-table').find('.task-progress-edit-btn').css('visibility','hidden');
                            $('.task-progress-table').find('.task-progress-delete-btn').css('visibility','hidden');
                            $('.task-progress-add-btn').hide();
                        }else{
                            console.log('---------show---3-------');
                            $('.task-progress-table').find('.task-progress-edit-btn').css('visibility','visible');
                            $('.task-progress-table').find('.task-progress-delete-btn').css('visibility','visible');
                            $('.task-progress-add-btn').show();

                        }*/







                    }
                    if($(this).html()=='操作记录'){
                        var fromPage = localStorage.getItem('pageType');
                        // ！因我的合同页面引用该页面，不可引导启动。使用模块依赖（view模块已经对此模块做了依赖）。
                        // 非myContract内执行的话，才引导该模块
                        if(fromPage != 'myContract'){
                            if(!$('#operationTask_log').scope()){
                                angular.bootstrap($('#operationTask_log'), ['operationTaskLog']);  //初始化操作记录
                            }
                            $('#operationTask_log').scope().initData(0,localStorage.getItem('thisTaskVersionId'));
                        }
                    }
                });

                //延时缓解难看内容闪现
                setTimeout(function(){
                    $('#taskCard-edit-wrap').show();
                }, 10);

                taskBasicInfo.init();

            });

            //可选版本的宽度
            window.onresize=function(){
                $('#taskVersion').css('width',$('#taskVersionCheck').innerWidth());
            };

            $('#operationTask_log').ready(function(){
                console.log('1231231211111asdasdasds');
            })
        </script>
        <!-- 方案 -->
        <script>
            $(function(){

                try{
                    uEditor.destroy();
                    schema.init();
                }
                catch (e){
                    schema.init();
                }

                $('#schema-save-btn').click(function() {
                    schema.save();
                });
                $('#schema-cancel-btn').click(function() {
                    schema.cancel();
                })

            })

        </script>

    </div>
</div>
