/*-------------------------------------position---start--------------------------*/
@import "positionMap.css";
/*-------------------------------------position-----end------------------------*/
#my-asset-add-tree .department-tree-span{display:none;}
#my-asset-add-tree_1_ico.ico_open,#my-asset-add-tree_1_ico.ico_close{background-position: -34px -78px !important;}

#my-project-add-tree_1_ico.ico_open,#my-project-add-tree_1_ico.ico_close{background-position: -34px -78px !important;}

/*------------------------init start---------------------------*/
.fund-body{padding: 10px;height: 100%;background: #f1f1f1;font-family: "Microsoft YaHei UI";cursor: default;}
.fund-body .container{padding-right: 10px;}
.fund-body #fundTree_1_span{font-size: 14px;}
.fund-body .ztree li a{
    text-decoration: none;
}
.fund-body .ztree a:hover{
    background: #9acfea;
}
.fund-body .ztree li span.button.noline_open {
    background-position: -8px -82px;
}
.fund-body .ztree li span.button.noline_close {
    background-position: 8px -82px;
}
.fund-body .ztree li{
    padding-top: 11px;
}
.fund-body .ztree li ul{
    padding-left: 15px;
}
.fund-body .ztree li *{font-size: 12px;font-family: 'Microsoft Yahei';}
.fund-body #fundTree{padding:5px 0}
.container-fluid,.row,.col-sm-4,.col-md-4
,.col-lg-4,.col-sm-8,.col-md-8,.col-lg-8,
.col-md-12,.col-lg-12{margin: 0;padding:0;}
.col-sm-5,.col-sm-9{padding-left: 0;padding-right: 0}
/*------------------------init end---------------------------*/
.asset{border: 1px solid #dedede;background: white;
    height: inherit;}
.asset-container{height: inherit;position: relative;}
.asset-structure{height:inherit;background-color: #edf0f5; width:25%}
.asset-structure .asset-header i{color: rgb(17,205,110);line-height: 36px;
    font-size: 17px;margin-right: 1px;cursor: default;}
.asset-structure .asset-header i:hover{color: #4cae4c;}
.asset-details{
    border-left: 1px solid #ddd;width:75%;height: inherit;}
.asset-tree{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;}
.asset-header{border-bottom: 1px solid #dedede; height:40px;}
#asset-edit-btn,#asset-del-btn{ margin-left: 0;margin-right:7px;margin-top:5px;font-size:12px; font-weight: normal;color: snow;
    text-align:center;cursor: default;background-color: #4cae4c;width: 80px;height: 30px;line-height:30px;border: 1px;border-radius: 4px;}
#asset-edit-btn:hover,#asset-del-btn:hover{background-color: #009900;}
.asset-header span{line-height: 40px;font-size: 16px;font-weight: bold;margin-left: 20px;}
#asset-add-btn .iconfont：hover{color: #00A000}
/*-----------------------------asset-detail start----------------------------*/
#asset-info{margin-top: 20px;margin-left: 10px; }
#asset-info .form-group{margin-bottom: 18px;}
#asset-info .col-sm-3,.asset-new .col-sm-3,.asset-edit .col-sm-3{width: 130px;}
#asset-info .col-sm-9{width: 350px;}
.asset-check p{margin-top: 2%; color:#2c2c2c;}
.asset-check li{ color:#2c2c2c;}
.asset-check p{margin-top: 2%}
.form-control[readonly]{background: white}
.form-horizontal .has-feedback .form-control-feedback{right: 0px}
.asset-check label{ font-weight:normal;}
.asset-new ul{margin-top: 0;;font-size: 12px;width: 100%}
.asset-new,.asset-edit{display: none;}
.asset-new label,.asset-edit label,.asset-check label{ font-weight:normal;}
.asset-new input{ height:32px; background: #fff;}
.aeeset-member{margin-top: -21px; margin-left:-5px;width: 90%;display: block}
.aeeset-member li{float: left;margin-left: 4%;margin-top: 9%}
.asset-leader{height:auto;max-height: 200px;overflow-y:auto}
.asset-leader li{margin-top: 1%;}
.asset-leader li a:hover,#dropNodeParent li a:hover,#editdropNodeParent li a:hover,#dropDeparment li a:hover{background: #ffebc4}
.asset-details-container{position: absolute;top:40px;bottom:0;width:100%;}
.fund01{width: 58%;height:100%;float: left;border-right:1px solid #dedede; position: relative;left:0;top:0;}
.fund01 canvas{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
}
.middle-show{margin-left: 140px;margin-top: 440px;background-color: #00a2d4;color: #2b2b2b;}
.fund02{width: 42%;height:100%;float: left;}
.fund0201{width: 100%;height: 40px;border-bottom:1px solid #dedede;text-align: center;line-height: 40px;}
.fund0202{width: 100%;height: 490px;}
.fileControl{width: 20px;  height: 64px;  position: absolute;  right: 0;  top: 50%;  margin-top: -32px;}
.fileInfoOpen{
    width: 20px;
    height: 64px;
    background: #6ab0ff;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 64px;
    border-radius: 2px;
    cursor: default;
    overflow: hidden;
}
.fileInfoClose{
    width: 2px;
    height: 64px;
    background: #6ab0ff;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 64px;
    border-radius: 2px;
    cursor: default;
    overflow: hidden;
    transform: rotate(180deg);
}
/*.select:focus{border-color: #66afe9;box-shadow: inset 0 1px 1px}*/
/*-----------------------------asset-detail end----------------------------*/
/*-----------------------------asset-footer start----------------------------*/
.asset-edit-save,.asset-edit-cancel,.asset-new-save,.asset-new-cancel{height: 36px;width: 70px;color: white;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.asset-edit-save,.asset-new-save{background: rgba(46,195,233,0.8);border:1px solid rgba(46,195,233,0.8);
    position: fixed;right: 126px;bottom: 50px;}
.asset-edit-save:hover,.asset-new-save:hover{background: rgba(46,195,233,1);border:1px solid rgba(46,195,233,1);}
.asset-edit-cancel,.asset-new-cancel{background: rgba(240,209,77,0.8);border:1px solid rgba(240,209,77,0.8);
    position: fixed;right: 36px;bottom: 50px;}
.asset-edit-cancel:hover,.asset-new-cancel:hover{background: rgba(240,209,77,1);border:1px solid rgba(240,209,77,1);}
/*-----------------------------asset-footer end----------------------------*/
/*------------------------------ztree start---------------------------------*/
#assetTree li{}
#assetTree ul{}
#assetTree li a{line-height: 26px!important;height: 26px!important;}
#assetTree li a:hover{text-decoration: none!important;}
#assetTree li span{line-height: 30px!important;font-size: 14px!important;height: 30px!important;
    color:rgba(0,0,0,0.7)}
#assetTree li .node_name:hover{text-decoration: none;}
#assetTree li a.curSelectedNode{background: white!important;border: none!important;}
#assetTree li span.button.noline_open{opacity: 0.4;
    background-position: -10px -76px !important;}
#assetTree li span.button.noline_close{opacity: 0.4;
    background-position: 6px -76px !important;}

.asset-tree-span-active{background: rgba(241,163,37,0.3)!important;}
.asset-tree-span{position: absolute; width: 100%; height: 30px; left: 0;right: 0;}
.asset-tree-span i{font-size: 12px!important; display:inline-block; height: 30px;line-height: 30px;
    background:rgb(27,147,76);text-align: center;color:white;}
.asset-tree-span i:hover{cursor:default;}
.asset-tree-span .asset-icon{display: none;}
.asset-icon-add{width: 30px;border-right: 1px solid rgba(0,0,0,0.1);}
.asset-icon-del{width: 20px;}
/*-------------------------------ztree end-------------------------------------------*/

#asset-ask{position: absolute;top: 30%;}
#asset-ask .modal-body{}
/*-----------------------shot quote-------------------------------*/
#shot-havaChoose{ height:111px; width:200px; position: relative; overflow-y: auto;}
.shot-textarea{margin-top: 5px;padding-left: 0px}
.shot-textarea textarea{width: 100%;resize: none;
    border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; border:1px solid #d1d1d1;}
.shot-textarea label{line-height: 26px!important;color: black; padding:0 5px;font-size: 14px;}
.shot-textarea i{ margin-left:7px; color:#11cd6e;}
#shot-del-btn,#shot-edit-btn{
    margin-left: 0;
    margin-right: 16px;
    font-size: 14px;
    font-weight: normal;
    color: #888;
    cursor: default;
}

/*----------------------chooose --member--start---------------------------------------*/
.project-add-chooseSplit{
    margin-left:1px;padding-bottom:1000px; margin-bottom:-980px; border-left:1px solid #ccc; height:100%; float:left;
}
.my-project-add-choose-title{
    position: absolute;
    height:28px;
    line-height:28px;
    top:-38px;
    left:42px;
    border-bottom:3px solid #6cc984;
}
#my-project-add-chooseList{  /*ul*/

}
.my-project-add-choose-people{ /*li*/
    font-size:12px;
    height:28px;
    line-height:28px;
    cursor:default;
    white-space:nowrap;
}
.my-project-add-choose-people i{    /*li i*/
    font-size:14px;
    margin-right:5px;
    color:#ccc;
}
.my-project-add-chooseBox{
    /* padding-top: 7px; */
    padding-left: 55px;
    /* padding-bottom: 1000px; */
    margin-bottom: 5px;
    float: left;
    max-height: 283px;
    overflow-y: auto;
    width: 249px;
    margin-top: 4px;
    /* margin-left: 20px; */
}
.my-project-add-chooseBox .active{
    color:#999;
}
.my-project-add-haveChoose{
    width:81%;
    margin-left:75px;
    color:#2c2c2c;
    overflow-y: auto;
    max-height:150px;
}
.my-project-add-haveChoose li{
    float:left;
    padding:0 8px;
    margin-right: 8px;
    height:30px ;
    line-height:30px;
    font-size:12px;
    cursor:pointer;
    position: relative;

}
.my-project-add-haveChoose li:hover{color:#999;}
.my-project-add-haveChoose li i{
    position: absolute;
    top:0px;
    right:-3px;
    height: 1em;
    line-height: 1em;
    font-size:14px;
    color:#F23614;
    display:none;

}
.my-project-add-haveChoose li:hover i{
    display:block;
}
.col-sm-9{padding-right: 0}
.userCreate{
    -webkit-user-select:auto;
    position: relative;
    padding-bottom: 10px;
}

table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.display tbody tr.odd{background-color: #fff;}
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1,table.dataTable.display tbody tr:hover{
    background-color:#ffebc4;
}
.dataTables_wrapper{border: 1px solid #aaaaaa;margin-left: 1%;margin-right: 1%;margin-top: 10px}
.dataTables_scroll{border-bottom: 1px solid #aaaaaa;background:#f5f5f5}
.dataTables_wrapper .dataTables_info{margin-bottom: 14px;padding-top: 14px;margin-left: 7px}
#dataList_paginate{padding-top: 6px;background: white; margin-right: 14px}
#dataList_paginate a{border: 1px solid;border-color: #ccc;}
#dataList_paginate a:hover{background: white;cursor: pointer;color: black!important;}
#dataList_paginate span>.current{background:white;border-color:#ccc;color: black!important;padding: 0 }
#dataList_wrapper{background: white}
.display .dataTable .no-footer{border-bottom: 1px solid #aaaaaa;width: 100%;background: white}
table.dataTable thead{width: 100%}
/*table.dataTable thead th{border: 1px solid #dddddd;text-align: center}*/
table.dataTable thead tr{height: 54px;}

#dataList_wrapper table{table-layout:fixed}
#dataList_wrapper tbody tr td{overflow: hidden;text-overflow: ellipsis;white-space: nowrap}

table.dataTable thead th{border-bottom: 1px solid #dddddd;text-align: center;padding: 0px;border-right: 1px solid #dddddd}
table.dataTable thead th,table.dataTable tbody tr td{min-width: 12%!important;max-width: 12%!important;  width: 12%!important;word-break: break-all;
    padding-right: 2px!important;padding-left: 2px!important;}
table.dataTable tbody tr td{border-right: 1px solid #dddddd;}

table.dataTable tbody tr{height: 45px;text-align: center}
#userList tbody tr td:first-child:hover{cursor: pointer}
.pageCountHide{display: none}
#userdropdownMenu{padding: 7px 14px;}
#dropDeparment,#dropRole{margin-top: 0;margin-left: 4%;font-size: 12px;width: 87%;height: auto;max-height: 100px;overflow-y: auto}
@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #EDEDED;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: 40px!important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}
.userImg{margin-left:-8%;}
.userImg img{border-radius: 500px;width: 80px;height: 80px;margin-top: 0.5%}
#passwordSave,#passwordQuit{display: none }
#passwordSave{position: absolute;left:60%;top:-20%}
#passwordQuit{position: absolute;left: 76%;top:-6%;text-decoration: none}
#user_passwordUpdate{position: absolute;left:20%;top:-7%;text-decoration: none}
#passwordQuit,#user_passwordUpdate:hover{cursor: default}
.form-inline>.form-group{margin-top: 1%;margin-bottom: 1%;margin-left: 1%;width: 50%}
.form-inline>.form-group label{text-align: right;font-size: 12px;margin-left: -2%}
.form-inline>.form-group input{margin-left: 1%;width:56%;height: 30px}
.form-horizontal>.form-group{margin-top: 0.5%;}
.form-horizontal>.form-group label{text-align: right;font-size: 12px}
.form-horizontal>.form-group input,.userHas>.form-group input{display: inline-block;width: 175px;height: 30px;margin-top: 2px;margin-left: 11px;}
.form-control{font-size: 12px;  resize:none;}
.form-control:hover{cursor: default}
.form-control[readonly]{background-color:white }
.form-control::-moz-placeholder { color: #999;  opacity: 1;  font-size: 12px;  }
.form-control:-ms-input-placeholder {  color: #999;  font-size: 12px;  }
.form-control::-webkit-input-placeholder {  color: #999;  font-size: 12px;  }
.userHas{font-size: 12px}
#companyInfo{margin-left: -5%;margin-top: -2%}
#companyInfo >.form-horizontal>.form-group input{margin-left: 2%;width: 85%}
#department li a{text-decoration: none;color: #333;}
#department li:hover{ color: #262626;  text-decoration: none;  background-color: #ffebc4;}
.dropdown-menu>li>a:hover{background-color: #ffebc4}
.companyLook{margin-top: -20%;margin-bottom:10%;margin-left: 6%}
.companyLook  ul{margin-left: 10%; }
.companyLook  ul li{margin-top: 6%;font-size: 13px;color: #4a4a4a}
.companyLook  ul li b,#innerList li b{color: grey;margin-right: 10px;text-align: justify;}
#innerList{margin-top: -20%;margin-left: 18%;margin-bottom: 10%;font-size: 13px}
#innerList li{margin-top: 6%;color: #4a4a4a}

.form-horizontal .control-label{padding: 0px}
.modal-content{width: 388px;height: 365px;}
.modal-header{padding-top: 6px;padding-bottom: 6px;background: #f5f5f5}
.modal-body{padding-bottom: 10px;padding-left: 45px}
.modal-foot{text-align: center}
.btn-primary {  color: #fff;  background-color: #f0d14d;  border-color: #f0d14d;  opacity: 1;}
.btn-primary:hover{ background-color: #f0d14d;  border-color: #f0d14d;}
#save{font-size:14px;margin-left:110px;width:70px;height:33px;color: #fff;  background-color: rgba(46,195,233,0.8);  border-color: rgba(46,195,233,0.8);  opacity: 1;cursor: default;}
#save:hover{ background-color: rgba(46,195,233,1);  border-color: rgba(46,195,233,1);}
#quitSave{font-size:14px;margin-left:20px;width:70px;height:33px;color: #fff;  background-color: rgba(240,209,77,0.8);  border-color: rgba(240,209,77,0.8);  opacity: 1;cursor: default;}
#quitSave:hover{ background-color: rgba(240,209,77,1);  border-color: rgba(240,209,77,1);}
#save01{font-size:14px;margin-left:110px;width:70px;height:33px;color: #fff;  background-color: rgba(46,195,233,0.8);  border-color: rgba(46,195,233,0.8);  opacity: 1;cursor: default;}
#save01:hover{ background-color: rgba(46,195,233,1);  border-color: rgba(46,195,233,1);}
#quitSave01{font-size:14px;margin-left:20px;width:70px;height:33px;color: #fff;  background-color: rgba(240,209,77,0.8);  border-color: rgba(240,209,77,0.8);  opacity: 1;cursor: default;}
#quitSave01:hover{ background-color: rgba(240,209,77,1);  border-color: rgba(240,209,77,1);}
#save02{font-size:14px;margin-left:110px;width:70px;height:33px;color: #fff;  background-color: rgba(46,195,233,0.8);  border-color: rgba(46,195,233,0.8);  opacity: 1;cursor: default;}
#save02:hover{ background-color: rgba(46,195,233,1);  border-color: rgba(46,195,233,1);}
#quitSave02{font-size:14px;margin-left:20px;width:70px;height:33px;color: #fff;  background-color: rgba(240,209,77,0.8);  border-color: rgba(240,209,77,0.8);  opacity: 1;cursor: default;}
#quitSave02:hover{ background-color: rgba(240,209,77,1);  border-color: rgba(240,209,77,1);}
#innerList,.companyLook{display: none}

#user_pageCount ul li>a:hover{background: #ffebc4;}
/*筛选的button相关*/
#user_filter_box{  position: relative;  -webkit-user-select:none;  }
#user_filter{  width: 80px;  height: 28px;  font-size: 12px;  margin-top:-2px;  line-height:28px;  position: relative;  border: 1px solid #ccc;
    z-index: 1001;
    border-radius:4px;
    background-color: #fff;
    outline:none;
    cursor:default;
}
#user_filter i{
    padding-left:10px;
    padding-right:2px;
    float:left;
    font-size:14px;
    color:#666;
}
#user_filter span{
    float:left;
}
.user_down_flag{
    margin-top:11px;
}

/*筛选的button相关*/
#dapart_filter{
    display:none;
    padding:15px;
    font-family:"Microsoft YaHei";
}
#dapart_filter li{
    font-size:12px;
    height:24px;
    line-height:24px;
    cursor:default;
    white-space:nowrap;
}
#dapart_filter li i{
    font-size:14px;
    margin-right:5px;
}
.btn-default:hover,.btn-default:active{
    background-color: #fff;
}

/*内容*/

#dapart_filter_sure{
    position:absolute;
    right:10px;
    top:5px;
    color:#b9b9b9;
    font-size:12px;
    cursor: pointer;
}  /*确定*/
#dapart_filter_sure:hover{
    color:#666;
}

.user_dropdown{
    position: absolute;
    top: 100%;
    left: -7px;
    top:24px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    margin: 2px 7px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.user_dropdown div{
    color:#666;
    font-weight:bold;
    font-size:12px;
    padding-left:4px;
    cursor: pointer;
}


::-webkit-scrollbar/*整体部分*/
{
    width: 4px!important;
    height:4px!important;
}
/*----------------------chooose --member--end---------------------------------------*/
/*左侧树结构*/
.fund-body a.level0 .edit,.fund-body a.level0 .remove{
    display: none;
}
/*明细表*/
.modal01{width: 200px;height: 200px;}
.fund-body #fundTree .selectedNode{background-color: #9acfea;}