/* ========================== 我的合同 支付凭证 =========== START ============================== */

/* 公共、重置 */
#myContract-voucher { margin:14px 25px;font-size:12px;font-family: 'Microsoft Yahei', '微软雅黑', sans-serif; border: 1px solid #ccc; background: #fff;}
#myContract-voucher * { margin: 0; padding: 0;cursor: default}
#myContract-voucher .header { height: 30px; line-height: 30px; text-indent: 22px; background: #eeeeee; color: #666666;}

/* 交易记录 */
#myContract-voucher .pay-list {list-style: none; margin: 0 30px;}
#myContract-voucher .pay-type ,
#myContract-voucher .pay-time ,
#myContract-voucher .pay-money { width: 30%; display: inline-block; text-indent: 20px;}
#myContract-voucher .pay-list dt,
#myContract-voucher .pay-list dd { height: 30px; line-height: 30px;}
#myContract-voucher .pay-list dt { border-bottom: 1px solid #f1f1f1; color:#666;}
#myContract-voucher .pay-list dd { border-bottom: 1px dashed #cdcdcd;}
#myContract-voucher .pay-list dd:last-child { border-bottom:0;}

/* 凭证图片 */
#myContract-voucher .voucher-wrap { margin:5px 7px; overflow: hidden;}
#myContract-voucher .voucher-pic { position: relative; float: left; margin: 5px;width: 324px; height: 158px; border: 1px solid #6faff6;}
#myContract-voucher .voucher-pic img { position: absolute; max-height:100%; max-width:100%; top: 50%; left: 50%;
    transform: translate(-50%, -50%)}

/* 放大查看 */
#myContract-voucher .voucher-viewer { position: fixed; z-index: 20; top: 0; left: 0; width: 100vw; height: 100vh;}
#myContract-voucher .voucher-viewer:before {content: ''; display: block; width: 100%; height: 100%; background: #000000; opacity: .3;}
#myContract-voucher .viewer-body { position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%); width: 60%;
    min-height: 420px; max-height: 90%;background: #ffffff;  overflow: hidden; padding-top: 36px;display: flex}
#myContract-voucher .viewer-body .header {  position: absolute; top: 0; width: 100%; height: 36px; line-height: 36px;}
#myContract-voucher .viewer-body .img-wrap { position: relative;width: 100%;flex:1}
#myContract-voucher .header .iconfont { float: right; margin-right: 12px;}
#myContract-voucher .header .iconfont:hover {font-weight: bold}
#myContract-voucher .viewer-body img { position: absolute; left: 0; right: 0; top: 0; bottom: 0;margin: auto;max-width: 100%;max-height:100%;}

/* ------------------------------ 我的合同 支付凭证 ------------- END ----------------------- */